{
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "printWidth": 150,
  "bracketSameLine": false,
  "jsxBracketSameLine": false
}